 <div class="container">
     <h1>投稿一覧</h1>
     <div class="row">
            <!--ransack店名検索-->
        <%= search_form_for(@q, url:posts_path) do |f| %>
            <%= f.text_field :store_name_or_genres_genre_name_cont, placeholder: '店名検索' %>
            <%= f.submit '検索', class: 'btn btn-success btn-sm' %>
        <% end %>
        
        <%= search_form_for(@q, url:posts_path, local: true) do |f| %>
            <%= f.label :genres_genre_name, 'ジャンル検索'%>
            <%= f.select :genres_id_eq, options_from_collection_for_select(Genre.all, :id, :genre_name,1) %>
            <%= f.button '検索', class: 'btn btn-success btn-sm' %>
        <% end %>
        <%= link_to '一覧を出す', posts_path, class: 'btn btn-secondary btn-sm' %>
    </div>
    <div class="row">
            <table class='table'>
                <thead>
                    <tr>
                        <th>店名</th>
                        <th>いいね</th>
                        <th>口コミ</th>
                        <th>コメント</th>
                    </tr>
                </thead>
                <tbody>
                    <% @posts.each do |post_content| %>
                    <tr>
                        <td><%= link_to post_content.store_name, post_path(post_content) %></td>
                            <td id="favorite_buttons_<%= post_content.id %>">
                            <%= render "public/favorites/favorite", post_content: post_content %>
                            </td>
                        <td><%= post_content.review %></td>
                        <td>コメント数:<%= post_content.comments.count %></td>
                        <% end %>
                    </tr>
                </tbody>
            </table>
    </div>
    <div style="text-align:center;"><p><%= paginate @posts %></p></div>
</div>    