<h1>投稿一覧</h1>
<%#= form_tag posts_path, method: :get, class: 'boards_searchForm' do %>
    <%# @genres.each do |genre| %>
<!--        <div class="genre-box">-->
            <%#= link_to genre.genre_name, posts_path(genre_name: genre.id)  %>
<!--        </div>-->
    <%# end %>
<!--        <div class="genre-box">-->
            <%#= link_to "全てのジャンル", posts_path %>
<!--        </div>-->
    
    <!--ransack検索-->
<%= search_form_for(@q, url:posts_path) do |f| %>
    <%= f.label :store_name_or_genres_genre_name_cont, '店名 or ジャンル'%>
    <%= f.text_field :store_name_or_genres_genre_name_cont, placeholder: '検索ワード' %>
    <%= f.submit '検索', class: 'btn btn-primary' %>
    <%= link_to '一覧を出す', posts_path %>
<% end %>

    <table class='table'>
        <thead>
            <tr>
                <th>店名</th>
                <th>いいね</th>
                <th>口コミ</th>
                <th>コメント</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post_content| %>
            <tr>
                <td><%= link_to post_content.store_name, post_path(post_content) %></td>
                <%# if post_content.favorited?(current_user) %>
                        <%#= link_to post_favorites_path(post_content.id), method: :delete,remote: true do %>
                            <!--<span>❤ <%#= post_content.favorites.count %></span>-->
                        <%# end %>
                    <%# else %>
                        <%#= link_to post_favorites_path(post_content.id), method: :post,remote: true do %>
                            <!--<span>♡ <%#= post_content.favorites.count %>︎</span>-->
                        <%# end %>
                    <%# end %>
                    <td id="favorite_buttons_<%= post_content.id %>">
                    <%= render "public/favorites/favorite", post_content: post_content %>
                    </td>
                
                <td><%= post_content.review %></td>
                <td>コメント数:<%= post_content.comments.count %></td>
                <% if post_content.user == current_user %>
                <td><%= link_to"編集", edit_post_path(post_content) %></td>
                <td><%= link_to"削除", post_path(post_content), method: :delete %></td>
                <% end %>
            </tr>
            <% end %>
    <%# end %>
        </tbody>
    </table>