<h1>新規投稿</h1>
<%= form_with model: @post do |f| %>

  <div class="field">
    <%= f.label :"店名" %><%= f.text_field :store_name, autofocus: true %>
  </div>
  
  <div class="field">
    <%= f.label :"郵便番号" %><%= f.text_field :post_code %>
  </div>
  
  <div class="field">
    <%= f.label :"住所" %><%= f.text_field :address %>
  </div>
  
  <!--<div class="field">-->
  <!--  <%#= f.label :"ジャンル" %><%#= f.text_field :genre %>-->
  <!--</div>-->
  
  <div class="field">
    <%= f.label :"定休日" %><%= f.text_field :regular_holiday %>
  </div>
  
  <div class="field">
    <%= f.label :"口コミ" %><%= f.text_field :review %>
  </div>
  
  <div class="field">
     <%= f.label :"店舗画像" %><%= f.file_field :image, accept: "image/*" %>
  </div>
  
  <div class="form-group">
    <%= f.submit "投稿する" %>
  </div>
<% end %>
