<div class="container p-3">
  <h4><span style = "background-color: #EEE; padding: 0 20px;">新規投稿</span></h4>
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_with model: @post, url: posts_path do |f| %>
    <table style="margin-left: 30px;">
      <tr>
        <th>
          <p>店名</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.text_field :store_name, autofocus: true %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>郵便番号</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.text_field :post_code %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>住所</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.text_field :address %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>ジャンル</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><div class="check_box">
                    <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :genre_name) do |genre| %>
                     <div class='form-check'>
                      <%= genre.label do %>
                        <%= genre.check_box %>
                        <%= genre.text %>
                      <% end %>
                     </div>
                    <% end %>
                  </div>
            </p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>定休日</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.text_field :regular_holiday %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>口コミ</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.text_field :review %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>評価</p>
        </th>
        <td style="padding:0 0 15px 30px;">
            <div id="star">
            </div>
            <%= render "public/posts/rate",posts: @post %>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>店舗画像</p>
        </th>
        <td>
          <p style="padding-left: 30px;"><%= f.file_field :image, accept: "image/*" %></p>
        </td>
      </tr>
          
      <tr>
        <th></th>
        <td><p style="padding-left: 30px;"><%= f.submit "投稿する" %></p></td>
      </tr>
    </table>
  <% end %>
</div>
