<h1>投稿一覧（管理者側）</h1>
 <table class='table'>
        <thead>
            <tr>
                <th>会員ID</th>
                <th>氏名</th>
                <th>店名</th>
                <th>住所</th>
                <th>ジャンル</th>
            </tr>
        </thead>
        <tbody>
            <% @posts.each do |post_content| %>
            <tr>
                <td><%= post_content.user.id %></td>
                <td><%= post_content.user.last_name %><%= post_content.user.first_name %></td>
                <td><%= post_content.store_name %></td>
                <td><%= post_content.address%></td>
                <td><% post_content.genres.each do |genre| %>
                        <%= genre.genre_name %>
                    <% end %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
