<div class="container p-3">
  <h4><span style = "background-color: #EEE; padding: 0 20px;">ログイン</span></h4>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
   <table style="margin-left: 30px;">
     <tr>
        <th>
          <p>メールアドレス</p>
        </th>
        <td valign = "top">
          <p style="padding-left: 30px;"><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
        </td>
      </tr>
      
      <tr>
        <th>
          <p>パスワード</p>
        </th>
        <td valign = "top">
          <p style="padding-left: 30px;"><%= f.password_field :password, autocomplete: "current-password" %></p>
        </td>
      </tr>
      
      <tr>
        <th><% if devise_mapping.rememberable? %>
          <p><%= f.check_box :remember_me %>
              <%= f.label :remember_me %></p>
            <% end %>
        </th>
        <td valign = "top">
          <p style="padding-left: 30px;"><%= f.submit "ログイン" %></p>
        </td>
      </tr>
    <% end %>
  </table>
  <h5 class="mt-5">会員登録がお済みでない方</h5>
   <%= render "public/shared/links" %>から新規登録を行ってください。
</div>
       
