<h2><%= current_user.last_name %>
    <%= current_user.first_name %>さんのいいね！した投稿一覧</h2>
    <table class='table'>
        <thead>
            <tr>
                <th>店名</th>
                <th>いいね</th>
                <th>口コミ</th>
                <th>コメント</th>
            </tr>
        </thead>
        <tbody>
            <% @favorite_posts.each do |post_content| %>
            <tr>
                <td><%= post_content.store_name %></td>
                <td><%= post_content.favorites.count %></td>
                <td><%= post_content.review%></td>
                <td><%= post_content.comments.count %></td>
            </tr>
            <% end %>
        </tbody>
    </table>