<div class="container">
   <h3><%= @user.last_name %><%= @user.first_name %>さんの会員詳細</h3>
  <div class="row">
        <table style="table">
            <tr>
                <th>
                    <p>氏名</p>
                </th>
                <td>
                    <p><%= @user.last_name %>
                       <%= @user.first_name %></p>
                </td>
                <td style="padding-left:30px;"><%if @user == current_user %>
                        <%= link_to "編集する", edit_user_path, class:"btn btn-sm btn-success" %>
                    <% end %>
                </td>
                <td>
                    <%= link_to "お気に入り一覧",favorites_user_path(@user), class:"btn btn-sm btn-primary" %>
                </td>
            </tr>
            
            <tr>
                <th>
                    <p>フォロー数</p>
                </th>
                <td>
                    <p><%= @user.followings.count %></p>
                </td>
            </tr>
            
            <tr>
                <th>
                    <p>フォロワー数</p>
                </th>
                <td>
                    <p><%= @user.followers.count %></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <h3><%= @user.last_name %>
            <%= @user.first_name %>さんの投稿一覧</h3>
        <table class='table'>
                <thead>
                    <tr>
                        <th>店名</th>
                        <th>お気に入り</th>
                        <th>評価</th>
                        <th>コメント</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.posts.each do |post_content| %>
                    <tr>
                        <td>
                            <%= link_to post_content.store_name, post_path(post_content) %>
                        </td>
                        
                        <td id="favorite_buttons_<%= post_content.id %>">
                            <%= render "public/favorites/favorite", post_content: post_content %>
                        </td>
                        
                        <td>
                            <div id="star-rate<%= post_content.id %>"></div>
                            <script>
                                $('#star-rate<%= post_content.id %>').empty(); 
                                var elem = document.getElementById('star-rate<%= post_content.id %>');
                                console.log(elem);
                                var opt = { 
                                    size     : 36,
                                    starOn: "<%= asset_path('star-on.png') %>",
                                    starOff: "<%= asset_path('star-off.png') %>",
                                    scoreName: 'post[rate]',
                                    readOnly: true,
                                    score: <%= post_content.rate %>
                                  };
                                  raty(elem,opt);
                            </script>
                        </td>
                        <td>
                            コメント数:<%= post_content.comments.count %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
        </table>
    </div>
</div>